@font-face {
	font-family: 'Chomsky';
	/* Chomsky is generously licensed under the S.I.L Open Font License v1.1 by Frederick R. Brennan */
	src: url('../fonts/Chomsky.woff2') format('woff2'), url('../fonts/Chomsky.woff') format('woff');
}

h1 {
	font-family: Chomsky, serif;
	font-size: 4em;
}
